

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contract sheet</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="main.css" rel="stylesheet">
  <link href="tree.css" rel="stylesheet">
</head>
<body>
<%- include ('NavBar.ejs') -%>
<div id="wrapper">
<%- include ('SideBar.ejs') -%>

<div id="page-content-wrapper">
  <div id="Contract">
    <div class="scrollable-div" style="height: 550px; overflow-y: auto;">
      <h2 class="text-white">Contract Sheet</h2><br>
      <div class="tree">
        <ul>
          <% function renderCourse(course) { %>
            <li >
              <a href="#"><%= course.CourseCode %> <br> <%= course.CourseName %></a>
              <% if (course.Prerequisites.length > 0) { %>
                <ul>
                  <% course.Prerequisites.forEach(prereq => { %>
                    <%= renderCourse(prereq) %>
                  <% }); %>
                </ul>
              <% } %>
            </li>
          <% } %>

          <% rootCourses.forEach(course => { %>
            <%= renderCourse(course) %>
          <% }); %>
        </ul>
      </div>
      
        
        
      
  
      <!-- <h5>Major Requirements</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item light-list-color border-dark">Crs</li>
        <li class="list-group-item light-list-color border-dark">crs</li>
        <li class="list-group-item light-list-color border-dark">crs</li>
        <li class="list-group-item list-group-item-warning border-dark" style="color:black;">CSC325</li>
        <li class="list-group-item list-group-item-warning border-dark" style="color: black;">Crs code 3--</li>
        <li class="list-group-item list-group-item-danger border-dark" style="color: black;">CSC 423</li>
        <li class="list-group-item light-list-color border-dark">
          <div class="dropdown btn-outline-none">
            <button class="btn btn-secondary dropdown-toggle light-list-color" type="button"
              data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
              Technical Elective
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Crs</a></li>
              <li><a class="dropdown-item" href="#">Crs</a></li>
              <li><a class="dropdown-item" href="#">Crs</a></li>
            </ul>
          </div>
        </li>
      </ul>
  
      <h5>Liberal Arts Curriculum</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item light-list-color border-dark">ENL213</li>
        <li class="list-group-item light-list-color border-dark">CSC203</li>
        <li class="list-group-item light-list-color border-dark">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle light-list-color" type="button"
              data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
              Group 3
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Crs</a></li>
              <li><a class="dropdown-item" href="#">Crs</a></li>
              <li><a class="dropdown-item" href="#">Crs</a></li>
            </ul>
          </div>
        </li>
        <li class="list-group-item light-list-color border-dark">
          <div class="dropdown btn-outline-none">
            <button class="btn btn-secondary dropdown-toggle light-list-color" type="button"
              data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
              Group 4
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Crs</a></li>
              <li><a class="dropdown-item" href="#">Crs</a></li>
              <li><a class="dropdown-item" href="#">Crs</a></li>
            </ul>
          </div>
        </li>
      </ul> 
      
    </div> -->
  </div>
</div>
</div>

<script src="sidebar.js"></script>
</body>
</html>